<style type="text/css">

@page { size: A4; margin: 30pt 30pt 30pt 30pt; prince-shrink-to-fit: auto  }

@font-face {
	font-family: 'Ubuntu Condensed';
	font-style: normal;
	font-weight: normal;
	src:url(http://media.paperight.com/fonts/ubuntu-condensed/UbuntuCondensed-Regular.ttf);
}

body {
	margin: 1em;
	font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
	font-size: 0.8em;}
h1, h2, h3 {
	color: grey;}
.from {
	float: left;
	max-width: 40%;
	margin: 1em 2em 1em 0;}
.to {
	float: left;
	max-width: 40%;
	margin: 1em 0 1em 0;}
.for {
	clear: both;
	margin: 1em 0 1em 0;}
.statement-summary {
	padding: 0em 1em 1em 1em;
	border: 1px dotted grey;}
.details div, .paperight-details div, .publisher-details div, .outlet-details div {
	padding: 0.2em;}
table {
	border-collapse: collapse;
	border: 0;
	width: 100%;
	font-size: inherit;}
thead {
	font-weight: bold;
	border-top: 1px dotted grey;
	border-bottom: 1px dotted grey;}
tr {}
tr.rand-value, tr.vat-included {
	font-weight: bold;}
tr.total-row {
	font-weight: bold;
	border-top: 1px dotted grey;
	border-bottom: 1px dotted grey;}
td {
	padding: 0.2em 0.5em 0.2em 0.2em;
	border: 0;
	vertical-align: top;}
.footer {
	float: left;
	text-align: center;
	font-size: 0.7em;
	color: grey;
	font-weight: bold;
	margin-top: 2em;
	padding-top: 1em;}
.footer img {
	width: 5em;
	height: 5em;
	border-radius: 2em;
	border: 1px dotted grey;
	padding: 0.5em;
	margin: 0.5em;}
	
</style>

<h1>Tax invoice (agent sales) #if( $licence.pageLayout == 'PHOTOCOPY' ) and copy licence #end</h1>

#if( $licence.pageLayout == 'PHOTOCOPY' )
	#set ($displayLayout = "copy")
	#if ($licence.numberOfCopies > 1)
	    #set ($displayLayout = "copies")
	#end
	<div>When stamped and signed by $licence.company.name, this invoice constitutes a licence to make $licence.numberOfCopies $displayLayout of $licence.product.title.</div>
	<div>This licence should be printed and kept with the photocopy it makes legal.</div>
#end

<div class="from">

    <h2>From</h2>
    
    <div>
        <div><span>$fromCompany.name</span></div>
        <div><span>$fromCompany.primaryAddress</span></div>
		<div>Phone <span>$fromCompany.phoneNumber</span></div>
		#if( $fromCompany.vatRegistered )
        	<div>VAT number: <span>$fromCompany.vatRegistrationNumber</span></div>
        #else
        	<div>VAT number: <span>Not VAT registered</span></div>
        #end
        <div>Invoice number: <span>$licence.id</span></div>
        <div><span>$licence.transactionDate.toString("dd MMMM yyyy")</span></div>
    </div>

</div><!--.from-->

<div class="to">

    <h2>To</h2>
    
    <div>
        <div><span>$licence.company.name</span></div>
        <div><span>$licence.company.primaryAddress</span></div>
      	#if( $licence.company.vatRegistered )
        	<div>VAT number: <span>$licence.company.vatRegistrationNumber</span></div>
        #else
        	<div>VAT number: <span>Not VAT registered</span></div>
        #end
    </div>

</div><!--.to-->

<div class="for">

    <h2>For</h2>
    
    <table>
    	<thead>
	    	<tr>
	    		<td>Title</td>
	    		<td>Identifier</td>
	    		<td>Format</td>
	    		<td>Number of copies</td>
	    		<td>Total credits paid</td>
	    		<td>USD value</td>
	    		#if ( $showOutletCurrency )
	    		<td>$licence.currency.code value</td>
	    		#end
	    		<td>ZAR value</td>
	    	</tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td><span>$licence.product.title</span></td> 
	            <td><span>$licence.product.identifier</span></td>
	            <td><span>$licence.pageLayout.displayName</span></td>
	            <td><span>$licence.numberOfCopies</span></td>
	            <td><span>$licence.costInCredits</span></td>
	            <td><span>$licence.dollarsInvoiceValue</span></td>
	            #if ( $showOutletCurrency )
	            <td><span>$costInOutletCurrency</span></td>
	            #end
	            <td><span>$licence.randsInvoiceValue</span></td>
	        </tr>
	        #if ( $mustIncludeVat )
	        <tr>
	        	<td #if ( $showOutletCurrency ) colspan="5" #else colspan="4" #end >
	        	<td>Includes VAT at <span>$vatRatePercentage%</span></td>
	        	<td><span>$vatAmount</span></td>
	        </tr>
	        #end
	        <tr>
	        	<td #if ( $showOutletCurrency ) colspan="5" #else colspan="4" #end >
	        	<td>Total</span></td>
	        	<td><span>$licence.randsInvoiceValue</span></td>
	        </tr>
		</tbody>     
    </table>

</div><!--.for-->

#if( $licence.pageLayout == 'PHOTOCOPY' )
<div class="licence-section">

    <h1>Licence</h1>

    <p>To show that your copy of <span>$licence.product.title</span> is legal, <span>$licence.company.name</span> must stamp and sign in the block below, and bind this page with the copy. You may do this with <span>$licence.numberOfCopies</span> $displayLayout. To make further copies, you must get a new licence from paperight.com.</p>

    <table style="height: 4cm; width: 6cm; border: 1px solid black;"><tr><td>&nbsp;</td></tr></table>
    Stamp and original signature of <span>$licence.company.name</span>

</div><!--.licence-section-->
#end
<div class="footer">Powered by<br>
	<img alt="Paperight" src="$applicationUrl/img/logo.png">
</div><!--.footer-->