<p>Hi $user.firstName</p>

<p>To reset your password on Paperight, please click the link below or paste it into a web browser. (If you didn't ask to reset your password, you can ignore this, or let us know at <a href="mailto:team@paperight.com">team@paperight.com</a>.)</p>

<p><a href="$resetPasswordUrl">$resetPasswordUrl</a></p>

<p>Best wishes</p>

<p>The Paperight team</p>